.banner {
  background-size: cover;
  padding: 150px 0 ;
  text-align: center;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
  }
  .carousel {
    position: relative;
    z-index: 2;
    a {
      opacity: 1;
      height: 25px;
      width: 25px;
      margin: 0 15px;
      top: calc(50% - 12px);
      cursor: pointer;
    }
  }
  &.banner-min {
    padding: 100px 0;
  }
  .content {
    max-width: 550px;
    margin: 0 auto;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    color: #fff;
    position: relative;
    z-index: 2;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
  }
  .h1 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 15px;
  }
  .text {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.6;
  }
  @media screen and (max-width: 991px) {
    padding: 100px 0;
  }
  @media screen and (max-width: 767px) {
    padding: 70px 20px;
    .carousel {
      a {
        margin: 0 -15px;
      }
    }
    .h1 {
      font-size: 30px;
    }
    .text {
      font-size: 15px;
    }
    .content {
      padding: 0 20px;
    }
  }
}


.slider {
  margin-top: 30px;
  margin-bottom: 80px;
  position: relative;
  z-index: 3;
  .image-block {
    max-width: 1040px;
    margin: 0 auto;
    height: 650px;
    img {
      max-width: 100%;
      margin: 0 auto;
      max-height: 100%;
    }
  }
  .slider-info {
    text-align: center;
    max-width: 350px;
    margin: 40px auto 0;
    h5 {
      color: $lightBlue;
      font-size: 24px;
      font-weight: 700;
    }
    p {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 1199px) {
    .image-block {
      max-width: 700px;
      height: 440px;
    }
  }
  @media screen and (max-width: 991px) {
    .image-block {
      max-width: 500px;
      height: 315px;
    }
  }
  @media screen and (max-width: 767px) {
    margin-top: 30px;
    .image-block {
      max-width: 100%;
      padding-left: 40px;
      padding-right: 40px;
      height: auto;
    }
  }
}

.advantage {
  padding: 50px;
  .a-item {
    padding: 30px;
    img {
      max-width: 200px;
      max-height: 200px;
      border: 1px solid #ccc;
      background-color: gray;
    }
    .media-body {
      padding-left: 15px;
    }
    .ttl {
      font-size: 21px;
      line-height: 1.1;
      font-weight: 700;
      margin-bottom: 10px;
      color: $lightBlue;
      text-transform: capitalize;
    }
  }
  @media screen and (max-width: 1199px) {
    .a-item {
      padding: 15px 20px;
      img {
        max-width: 200px;
        max-height: 200px;
      }
    }
  }
  @media screen and (max-width: 991px) {
    padding: 40px 0;
    .a-item {
      padding: 15px;
      img {
        max-width: 140px;
        max-height: 140px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

.software {
  background-color: #EFF1F3;
  padding-top: 79px;
  .image {
    padding: 0 15px;
    max-width: 370px;
    margin-right: 60px;
  }
  .text {
    padding: 30px 15px 45px;
    max-width: 420px;
    margin-left: 60px;
    img {
      margin-bottom: 30px;
    }
    .ttl {
      font-weight: 700;
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 15px;
    }
  }
  @media screen and (max-width: 991px) {
    .image {
      margin-right: 20px;
    }
    .text {
      margin-left: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    .image {
      order: 1;
      margin: 0;
      max-width: 100%;
      img {
        margin: 0 auto;
        max-width: 300px;
      }
    }
    .text {
      margin: 0;
      max-width: 100%;
    }
  }
}

.owner {
  color: #fff;
  padding: 80px 0 100px;
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  h2 {
    max-width: 375px;
    margin-bottom: 110px;
  }
  .mobile-bg {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
  @media screen and (max-width: 991px) {
    text-align: center;
    h2 {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 75px;
    }
    .mobile-bg {
      display: block;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 60px 0 70px;
  }
}

.reviews {
  padding: 80px 60px 30px;
  font-size: 16px;
  h2 {
    text-align: center;
    margin-bottom: 80px;
    font-size: 40px;
    line-height: 1.1;
  }
  .author {
    font-weight: 700;
  }
  .single-review {
    margin-bottom: 50px;
  }
  @media screen and (max-width: 767px) {
    padding: 60px 0 40px;
    font-size: 15px;
    h2 {
      margin-bottom: 60px;
      font-size: 30px;
    }
    .single-review {
      margin-bottom: 20px;
    }
  }
}